{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Резюме</h1>
        <br>
        <h2>Грибунин Андрей Вадимович</h2>
        <h2>Дата рождения: 15 августа 1997 года</h2>
        <h2>Адрес проживания: г. Москва</h2>
        <br>
        <h3>Опыт работы</h3>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>июнь 2020 г. – настоящее время (1 год 10 месяцев)</p>
            </div>
            <div class="col-8">
                <p><strong>МОУ «Институт инженерной физики»</strong></p>
                <p><strong>Должность:</strong> младший научный сотрудник</p>
                <p><strong>Обязанности:</strong> сопровождение НИОКР (ведение работ от момента их постановки до принятия в эксплуатацию)</p>
            </div>
        </div>

        <h3>Образование</h3>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>2015 – 2020 гг.</p>
            </div>
            <div class="col-8">
                <p><strong>РТУ МИРЭА</strong></p>
                <p><strong>Факультет:</strong> компьютерная безопасность (специалитет)</p>
                <p>Специалист по компьютерной безопасности</p>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>осень 2021 – весна 2022</p>
            </div>
            <div class="col-8">
                <p><strong>Computer Science Center</strong> (профессиональная переподготовка)</p>
                <p>(в настоящее время - филиал ШАД Яндекса)</p>
                <p><strong>Направление: </strong>Data Science</p>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>осень 2022 - весна 2024</p>
            </div>
            <div class="col-8">
                <p><strong>ШАД Яндекса </strong>(профессиональная переподготовка)</p>
                <p><strong>Направление: </strong>Data Science</p>
                <p>Продолжение обучения в Computer Science Center, но под руководством ШАД</p>
            </div>
        </div>

        <h3>Навыки</h3>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>Программирование на Python</p>
            </div>
            <div class="col-8">
                <p>- знание numpy, pandas (работа с многомерными массивами, очистка данных для последующего анализа)</p>
                <p>- основы Django, Bootstrap, Jinja (с помощью чего и написано данное резюме) <a href="https://github.com/GriAndrey/resume.git">Ссылка на исходник сайта</a></p>
                <p>- основы natural language processing (классификация и кластеризация текстов, исправление ошибок в тексте)</p>
                <p>- базовые знания Machine Learning (создавал модель для оценки стоимости квартиры в зависимости от множества параметров)</p>
                <p><a href="https://www.codewars.com/users/lilolol/completed">Профиль на CodeWars</a></p>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>HTML, CSS</p>
            </div>
            <div class="col-8">
                <p>- создание простых сайтов</p>
                <p>- редактирование стилей</p>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>Базовые знания SQL, JS, C++, PHP, администрования Debian/Ubuntu</p>
            </div>
            <div class="col-8">
                <p></p><p></p><p></p>
                <p>- использовались в студенческие годы</p>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>Знание алгоритмов и структур данных</p>
            </div>
            <div class="col-8">
                <p>- оценка скорости алгоритмов</p>
                <p>- используемые структуры данных</p>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>Математическая подготовка</p>
            </div>
            <div class="col-8">
                <p>- дискретная математика <a href="https://stepik.org/cert/933217">(диплом с отличием при подготовке к экзаменам CS Center на stepik.org)</a></p>
                <p>- математический анализ <a href="https://stepik.org/cert/934020">(диплом с отличием при подготовке к экзаменам CS Center на stepik.org)</a></p>
                <p>- теория вероятностей</p>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <p>Английский язык</p>
            </div>
            <div class="col-8">
                <p></p>
                <p>- чтение технической литературы</p>
            </div>
        </div>

        <h3>Дополнительная информация</h3>
        <p>Призер олимпиад первого и второго уровней по математике</p>
    </div>

{% endblock %}